body {
  font-size: 16px;
  background-color: #f5f5f5;
  color: #222;
}

#header-nav {
  background-color: #999;
  border-radius: 0;
  border: 2px solid #000;
}

.navbar-brand {
  padding-top: 15px;
  height: 70px;
}

.navbar-brand h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  font-size: 1.8em;
  font-weight: bold;
  line-height: .75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #000;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

#nav-list {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #e6e6e6;
}

#nav-list a {
  color: #000;
  font-size: 1.2em;
  border-top: 1px solid #000;
}

#nav-list a:hover {
  background: #d4d4d4;
}

h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}

#menu-section {
  background-color: #bfbfbf;
  padding: 15px;
  min-height: 1000px;
}

#menu-section h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
}
